
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Roster</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col col-2 (click)="goToLastMonth()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
      <ion-col col-2 (click)="goToNextMonth()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <div class="calendar-body">
    <ion-grid>
      <ion-row class="calendar-weekday">
        <ion-col>Su</ion-col>
        <ion-col>Mo</ion-col>
        <ion-col>Tu</ion-col>
        <ion-col>We</ion-col>
        <ion-col>Th</ion-col>
        <ion-col>Fr</ion-col>
        <ion-col>Sa</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay.day}}
        </ion-col>
        <ion-col col-1 *ngFor="let day of daysInThisMonth" (click)="selectDate(day)">
          <span class="currentDate" *ngIf="currentDate === day.day; else otherDate">{{day.day}}</span>
          <ng-template #otherDate class="otherDate">
            <span [ngClass]="{'currentSelectedDate': day.isSelected}">{{day.day}}</span><br>
            <div class="event-bullet" *ngIf="haveEvents(day.day)"></div>
          </ng-template>
        </ion-col>
        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay.day}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="selected-event" *ngIf="isSelected">
    <ion-list>
     <ion-item (click)="displayInfo(se)" *ngFor="let se of selectedEvent">
      
      <ion-icon slot="start" name="{{se.Icon}}"></ion-icon>
       <ion-label>
      {{se.startDate | date: 'HH:mm'}}->{{se.endDate | date: 'HH:mm'}} {{se.title}} {{se.message}}
       </ion-label>
     </ion-item>
    </ion-list>
  </div>
 
</ion-content>