<div class="row">
    <button class="btn btn-sm btn-success" style="margin-left:30px" (click)="open(content)">View</button>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Form View</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        <app-candidate-details-section></app-candidate-details-section>
        <app-instructor-result-section></app-instructor-result-section> 
        <app-simulator-details-section></app-simulator-details-section>
        <app-simulator-setup-section></app-simulator-setup-section>
        <app-exercises-section></app-exercises-section>
        <app-remedial-training-section></app-remedial-training-section>
        <app-line-check-details-section></app-line-check-details-section>
        <app-upgrade-recomandation-section></app-upgrade-recomandation-section>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="addCourseToGrid(); c('Close click')">Save</button>
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        </div>
    </ng-template>
</div>




