################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mobile/myApp/
/Backend/MarAirAdmin/MarAirRoles/MarAirRoles/App_Data
Backend/MarAirRoles/MarAirRoles/App_Data/aspnet-MarAirRoles-20181028015957.mdf
Backend/MarAirRoles/MarAirRoles/App_Data/aspnet-MarAirRoles-20181028015957_log.ldf
