################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mobile/myApp/
/Backend/MarAirAdmin/MarAirAdmin/App_Data
