<table class="table">
    <thead class="thead-light">
    <tr>
        <th >
            <img src="https://www.caa.co.uk/uploadedImages/CAA/Content/Images/Landing_Page/lp-boeing-dreamliner.jpg" style="width: 15%; height: auto"/>
        </th>
        <th style="text-align: center">MAR AIR Training Form</th>
    </tr>
    </thead>
</table>

<table class="table">
    <thead class="thead-light">
    <tr>
        <th style="text-align: center">Candidate Details</th>
    </tr>
    </thead>
</table>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th>
            Candidate Name(first,last)
        </th>
        <th>AlphaCode</th>
        <th>License No</th>
        <th>Pair Student</th>
        <th>Pair Student AlphaCode</th>
        <th></th>
    </tr>
    </thead>
    <tr>
        <td>Gheorghe-Marian Surdu</td>
        <td>O0340</td>
        <td>FA.ATPL.1371.AC</td>

        <td>
            -
        </td>
        <td>
            -
        </td>
        <td>
            <div class="checkbox">
                <label>
                   <input type="checkbox" disabled checked>PIC
                </label>
                <label>
                    <input type="checkbox" disabled>F/O
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" disabled checked>LH
                </label>
                <label>
                    <input type="checkbox" disabled>RH
                </label>
            </div>
        </td>
    </tr>
</table>
