<div class="row" style="padding-top:5px">
  <div class="col-lg-12">
      <div class="card mb-3">
          <div class="card-header">Select date interval</div>
          <div class="card-body">
              <form class="form-inline mb-3">
                  <div class="form-group">
                      <div class="input-group datepicker-input">
                        <label>Start</label>
                          <input class="form-control" placeholder="dd-mm-yyyy"
                              name="dp" [(ngModel)]="from" ngbDatepicker #start="ngbDatepicker">
                          <button class="input-group-addon" (click)="start.toggle()" type="button">
                              <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                              <span class="fa fa-calendar"></span>
                          </button>
                          
                      </div>
                   </div>
                  

                  <div class="form-group" style="margin-left: 20%;">
                      <div class="input-group datepicker-input">
                        <label>End</label>
                          <input class="form-control" placeholder="dd-mm-yyyy"
                              name="dp1" [(ngModel)]="to" ngbDatepicker #end="ngbDatepicker">
                          <button class="input-group-addon" (click)="end.toggle()" type="button">
                              <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                              <span class="fa fa-calendar"></span>
                          </button>
                          
                      </div>
                  </div>
              </form>
              <div class="alert alert-info mb-0">
                  <strong>Start: </strong> {{ from | json }}
                  <strong>End: </strong> {{ to | json }}
              </div>
          </div>
      </div>
  </div>
  
</div>

