<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header" (click)="isCollapsed = !isCollapsed"
                 [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">{{name}}</div>
            <div class="card-body" id="collapseExample" [ngbCollapse]="isCollapsed">
                <div class="card">
                        <div class="card-body">
                            <app-add-form (addFormEvent)="receiveForm($event,'M')"></app-add-form>
                            <app-forms-mockup *ngIf="name=='Mockup'" [forms]='formsMockup'></app-forms-mockup>
                            <app-forms-simulator *ngIf="name=='Simulator'" [forms]='formsSimulator'>
                            </app-forms-simulator>
                            <app-forms-flight *ngIf="name=='Flight'" [forms]='formsFlight'>
                            </app-forms-flight>
                            <app-forms-line-check *ngIf="name=='Line Check'" [forms]='formsLineCheck'>
                            </app-forms-line-check>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>
