<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Concierge</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment>
        <ion-segment-button *ngFor="let req of requestsType" (click)="segmentChanged(req)">
            <ion-label>{{req.Name}}</ion-label>
        </ion-segment-button>
    </ion-segment>

    <div *ngIf="selectedRequest==1">
        <app-flight-request></app-flight-request>
    </div>
    <div *ngIf="selectedRequest==2">
        <app-swap-request></app-swap-request>
    </div>
    <div *ngIf="selectedRequest==3">
        <app-staff-request></app-staff-request>
    </div>
    <div *ngIf="selectedRequest==4">
        <app-off-request></app-off-request>
    </div>

</ion-content>




