<div class="container">
    <div class="col-sm-5">
        <div class="card text-white bg-success mb-5">
            <div class="card-header">Marian Surdu</div>
            <div class="card-body">
                <h5 class="card-title">Operator conversion ATO-<span style="color:blue">In progress</span></h5>
                <p class="card-text">No remarks added on this course</p>
            </div>
        </div>
    </div>
    <div class="jumbotron">
<app-course-phase *ngFor="let phase of phases" [name]="phase.Name" [phaseId]="phase.Id"></app-course-phase>
    </div>
</div>
