<table class="table">
    <thead class="thead-light">
    <tr>
        <th style="text-align: center">
            Simulator Details
        </th>
    </tr>
    </thead>
</table>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th style="text-align: center">Simulator Owner</th>
        <th style="text-align: center">Location</th>
        <th style="text-align: center">Registration</th>
    </tr>
    </thead>
    <tr>
        <td style="text-align: center">SFTC</td>
        <td style="text-align: center">SOFIA</td>
        <td style="text-align: center">EU-SE120A</td>
    </tr>
</table>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th style="text-align: center">Time start</th>
        <th style="text-align: center">Time Finish</th>
        <th style="text-align: center">Total time</th>
        <th style="text-align: center">Down time</th>
    </tr>
    </thead>
    <tr>
        <td style="text-align: center">12/05/2019 16:00</td>
        <td style="text-align: center">12/05/2019 19:00</td>
        <td style="text-align: center">03:00</td>
        <td style="text-align: center">00:00</td>
    </tr>
</table>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th>
            Instructor remarks about the technical status of the simulator,down time,etc:
        </th>
    </tr>
    </thead>
    <tr>
        <td>
            Late start do to electrical problems
        </td>
    </tr>
</table>
