<button class="btn btn-primary" (click)="open(content)">Details</button>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Flight details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="">
            <div class="jumbotron" style="font-size: 12px;">
                <div class="row">
                    <table class="table borderedTable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Carrier</th>
                            <th scope="col">Number</th>
                            <th scope="col">Sequence</th>
                            <th scope="col">Aircraft</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Etops</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{selectedFlight.CarrierCode}}</td>
                            <td>{{selectedFlight.FlightNumber}}</td>
                            <td>1</td>
                            <td>{{selectedFlight.Aircraft.RegNo}}</td>
                            <td>Scheduled passenger</td>
                            <td>Operated</td>
                            <td>Company flight</td>
                            <td><input type="checkbox" disabled></td>
                            <td>ARVD</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <div class="btn-group" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default">Departure IATA code:
                                            <strong>{{selectedFlight.From}}</strong></button>
                                        <button type="button" class="btn btn-default">LYPG</button>
                                        <button type="button" class="btn btn-default">GMT +2</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div>Departure gate:<input type="text" disabled style="width:45px"></div>
                                <div>Position:<input type="text" disabled style="width:45px"></div>
                                <div>Acft on stand:<input type="text" disabled style="width:45px"></div>
                            </div>
                            <div class="col">
                                <div class="col">
                                    <div style="text-align: center;font-weight: bold;">Scheduled</div>
                                    <div>Off Block:<input type="text" disabled value="{{selectedFlight.TakeOffTime | date: 'dd/MM/yyyy HH:mm'}}"
                                                          style="width: 101px;"></div>
                                    <div>Taxi out:<input type="text" disabled value="10" style="width:45px"></div>
                                    <div>Estimated <input type="text" disabled value="{{selectedFlight.TakeOffTime | date: 'dd/MM/yyyy HH:mm'}}"
                                                          style="width: 101px;"></div>
                                </div>
                            </div>
                            <div class="col">
                                <div>TOBT <input type="text" disabled style="width:45px"></div>
                                <div>TSAT<input type="text" disabled style="width:45px"></div>
                                <div>CTOT<input type="text" disabled style="width:45px"></div>
                                <div>Door closed <input type="text" disabled style="width:45px"></div>
                            </div>
                            <div class="col">
                                <span style="font-size: 100px;" id="1">&#8595;</span>
                            </div>
                            <div class="col">
                                <div style="text-align: center;font-weight: bold;">MVT</div>
                                <div>Off Block:<input type="text" disabled value="{{selectedFlight.EstimatedArrival | date: 'dd/MM/yyyy HH:mm'}}"
                                                      style="width: 101px;"></div>
                                <div>Airborne <input type="text" disabled value="{{selectedFlight.EstimatedArrival | date: 'dd/MM/yyyy HH:mm'}}"
                                                     style="width: 101px;"></div>
                            </div>
                            <div class="col">
                                Delay Departure:<input type="text" disabled value="0" style="width:45px">
                            </div>

                        </div>
                        <hr>
                        <div class="row">
                            <div> ATC call sign <input type="text" disabled value="{{selectedFlight.AtcCallSign}}"><input type="text" disabled
                                                                                               value="{{selectedFlight.AtcNumber}}"></div>
                            <br>
                            <div> OFP text <input type="text" disabled value=""></div>
                            <div> Dispatcher text(DWS) <input type="text" disabled value=""></div>
                            <br>
                            <div> EST ZFW <input type="text" disabled value=""></div>
                            <div> EST Payload <input type="text" disabled value=""></div>
                            <div> Log Ref <input type="text" disabled value=""></div>
                        </div>
                        <hr>
                        <div class="row">
                            <div>Special Flight <input type="text" disabled value=""></div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <div class="btn-group" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default">Arrival IATA code: {{selectedFlight.To}}</button>
                                        <button type="button" class="btn btn-default">LYPG</button>
                                        <button type="button" class="btn btn-default">GMT +2</button>
                                        <button type="button" class="btn btn-default">Flight Segment:<strong>International</strong>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">

                            <div class="col">
                                <div style="text-align: center;font-weight: bold;">Scheduled</div>
                                <div>On Block:<input type="text" disabled value="{{selectedFlight.EstimatedArrival | date: 'dd/MM/yyyy HH:mm'}}"
                                                     style="width: 101px;"></div>
                                <div>Taxi in:<input type="text" disabled value="5"></div>

                                <div style="text-align: center;font-weight: bold;">Revised</div>
                                <div>On block <input type="text" disabled value="{{selectedFlight.EstimatedTakeOff | date: 'dd/MM/yyyy HH:mm'}}"
                                                     style="width: 101px;"></div>
                            </div>
                            <div class="col">

                                <div>CTOT<input type="text" disabled style="width: 45px;"></div>

                            </div>
                            <div class="col">
                                <span style="font-size: 100px;" id="2">&#8593;</span>
                            </div>
                            <div class="col">
                                <div class="col">
                                    <div style="text-align: center;font-weight: bold;">MVT</div>
                                    <div>On Block:<input type="text" disabled value="{{selectedFlight.EstimatedArrival | date: 'dd/MM/yyyy HH:mm'}}"
                                                         style="width: 101px;"></div>
                                    <div>Landing <input type="text" disabled value="{{selectedFlight.EstimatedArrival | date: 'dd/MM/yyyy HH:mm'}}"
                                                        style="width: 101px;"></div>
                                </div>
                            </div>
                            <div class="col">
                                Delay Arrival:<input type="text" disabled value="" style="width: 45px;">
                            </div>
                            <div class="col">
                                <div>Arrival gate:<input type="text" disabled style="width:45px"></div>
                                <div>Position:<input type="text" disabled style="width:45px"></div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Delay Code</th>
                                        <th>Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><input type="text" disabled value="91"></td>
                                        <td><input type="text" disabled value="00:10"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" disabled value="44"></td>
                                        <td><input type="text" disabled value="00:10"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col">
                                <table>
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Booked</th>
                                        <th>Expected</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>(F)</td>
                                        <td><input type="text" disabled value="{{selectedFlight.FBooked}}"></td>
                                        <td><input type="text" disabled value="{{selectedFlight.EFBooked}}"></td>
                                    </tr>
                                    <tr>
                                        <td>(C)</td>
                                        <td><input type="text" disabled value="{{selectedFlight.CBooked}}"></td>
                                        <td><input type="text" disabled value="{{selectedFlight.ECBooked}}"></td>
                                    </tr>
                                    <tr>
                                        <td>(Y)</td>
                                        <td><input type="text" disabled value="{{selectedFlight.YBooked}}"></td>
                                        <td><input type="text" disabled value="{{selectedFlight.EYBooked}}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Male</th>
                                        <th>Female</th>
                                        <th>Children</th>
                                        <th>Infants</th>
                                        <th>Bags</th>
                                        <th>Mail</th>
                                        <th>Cargo</th>
                                        <th>Other</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><input type="text" disabled value="{{selectedFlight.Male}}" style="width:60px"></td>
                                        <td><input type="text" disabled value="{{selectedFlight.Female}}" style="width:60px"></td>
                                        <td><input type="text" disabled value="{{selectedFlight.Infants}}" style="width:60px"></td>
                                        <td><input type="text" disabled value="{{selectedFlight.Infants}}" style="width:60px"></td>
                                        <td><input type="text" disabled value="{{selectedFlight.Bags}}" style="width:60px"></td>
                                        <td><input type="text" disabled value="" style="width:60px"></td>
                                        <td><input type="text" disabled value="{{selectedFlight.Cargo}}}" style="width:60px"></td>
                                        <td><input type="text" disabled value="{{selectedFlight.Other}}" style="width:60px"></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Cabin staff model</th>
                                        <th>Cockpit staff model</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><input type="text" disabled value="{{selectedFlight.CabinStaffModel}}"
                                                   style="width:120px"></td>
                                        <td><input type="text" disabled value="{{selectedFlight.CockpitStaffModel}}" style="width:120px"></td>


                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    <div style="font-weight:bold">Fuel</div>
                    <table>
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Qty</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Fuel Prior to uplift</td>
                            <td><input type="text" value="{{selectedFlight.FuelUplift}}" disabled></td>
                        </tr>
                        <tr>
                            <td>Block</td>
                            <td><input type="text" value="{{selectedFlight.Block}}" disabled></td>
                        </tr>
                        <tr>
                            <td>Used</td>
                            <td><input type="text" value="{{selectedFlight.UsedFuel}}" disabled></td>
                        </tr>
                        <tr>
                            <td>Remain</td>
                            <td><input type="text" value="{{selectedFlight.RemainFuel}}" disabled></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
