<button class="btn btn-primary">Add new</button>
<table class="table  table-hover">
    <thead>
    <tr>
        <th>Nr.crt</th>
        <th>From</th>
        <th>To</th>
        <th>Roundtrip</th>
        <th>Active</th>
        <th>Passengers</th>
        <th>Cargo</th>
        <th>Remarks</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>OTP</td>
        <td>FCO</td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td>---</td>
    </tr>
    <tr>
        <td>2</td>
        <td>OTP</td>
        <td>BCM</td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td>---</td>
    </tr>
    <tr>
        <td>3</td>
        <td>OTP</td>
        <td>CTA</td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td>---</td>
    </tr>
    <tr>
        <td>4</td>
        <td>OTP</td>
        <td>BRU</td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td>---</td>
    </tr>
    <tr>
        <td>5</td>
        <td>OTP</td>
        <td>HEL</td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td>---</td>
    </tr>
    <tr>
        <td>6</td>
        <td>OTP</td>
        <td>BCM</td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td>---</td>
    </tr>
    <tr>
        <td>7</td>
        <td>OTP</td>
        <td>MAD</td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td>---</td>
    </tr>
    <tr>
        <td>8</td>
        <td>BCM</td>
        <td>HEL</td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td>---</td>
    </tr>
    <tr>
        <td>9</td>
        <td>BCM</td>
        <td>MAD</td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td>---</td>
    </tr>
    <tr>
        <td>10</td>
        <td>BCN</td>
        <td>MAD</td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td>---</td>
    </tr>
    <tr>
        <td>11</td>
        <td>DTM</td>
        <td>MAD</td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td>---</td>
    </tr>
    <tr>
        <td>12</td>
        <td>DTM</td>
        <td>OTP</td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox" checked></td>
        <td>---</td>
    </tr>
    </tbody>
</table>
