        
        <div class="row">
          <div class="col">
              <div ngbDropdown class="d-inline-block dropdown">
                  <button class="btn btn-outline-primary" ngbDropdownToggle>Select activity</button>
                  <div ngbDropdownMenu>
                      <button class="dropdown-item">Flight</button>
                      <button class="dropdown-item">Positioning</button>
                      <button class="dropdown-item">Ground Course</button>
                  </div>
              </div>
          </div>
      </div>
     
