
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Logbook</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item-group>
  <ion-item-divider>
    <ion-label>Last year</ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-icon name='airplane' slot='start'></ion-icon>
    <ion-label>733</ion-label>
    255:00<ion-icon name='clock' slot='end'></ion-icon>
  </ion-item>
  <ion-item>
    <ion-icon name='airplane' slot='start'></ion-icon>
    <ion-label>734</ion-label>
    270:44<ion-icon name='clock' slot='end'></ion-icon>
  </ion-item>
  <ion-item>
    <ion-icon name='airplane' slot='start'></ion-icon>
    <ion-label>738</ion-label>
    548:40<ion-icon name='clock' slot='end'></ion-icon>
  </ion-item>
</ion-item-group>
<ion-item-group>
  <ion-item-divider>
    <ion-label>Last month</ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-icon name='airplane' slot='start'></ion-icon>
    <ion-label>733</ion-label>
    02:35<ion-icon name='clock' slot='end'></ion-icon>
  </ion-item>
  <ion-item>
    <ion-icon name='airplane' slot='start'></ion-icon>
    <ion-label>734</ion-label>
    14:20<ion-icon name='clock' slot='end'></ion-icon>
  </ion-item>
  <ion-item>
    <ion-icon name='airplane' slot='start'></ion-icon>
    <ion-label>738</ion-label>
    24:00<ion-icon name='clock' slot='end'></ion-icon>
  </ion-item>
</ion-item-group>
<ion-item-group>
  <ion-item-divider>
    <ion-label>Last week</ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-icon name='airplane' slot='start'></ion-icon>
    <ion-label>733</ion-label>
    04:00<ion-icon name='clock' slot='end'></ion-icon>
  </ion-item>
  <ion-item>
    <ion-icon name='airplane' slot='start'></ion-icon>
    <ion-label>734</ion-label>
    02:30<ion-icon name='clock' slot='end'></ion-icon>
  </ion-item>
  <ion-item>
    <ion-icon name='airplane' slot='start'></ion-icon>
    <ion-label>738</ion-label>
    06:00<ion-icon name='clock' slot='end'></ion-icon>
  </ion-item>
</ion-item-group>
 
<ion-item-group>
  <ion-item-divider>
    <ion-label>Last 24h</ion-label>
  </ion-item-divider>

  <ion-item>
     <ion-icon name='airplane' slot='start'></ion-icon>
    <ion-label>733</ion-label>
     04:00<ion-icon name='clock' slot='end'></ion-icon>
  </ion-item>
</ion-item-group>
</ion-content>