        
        <div class="row">
          <div class="col">
              <div ngbDropdown class="d-inline-block dropdown">
                  <button class="btn btn-outline-primary" ngbDropdownToggle>Select aircraft</button>
                  <div ngbDropdownMenu>
                      <button class="dropdown-item">YR-AMB</button>
                      <button class="dropdown-item">YR-BMP</button>
                      <button class="dropdown-item">YR-BAF</button>
                  </div>
              </div>
          </div>
      </div>
     
