<div class="container">
    <app-candidate-details-section></app-candidate-details-section>
    <app-instructor-result-section></app-instructor-result-section>
    <app-simulator-details-section></app-simulator-details-section>
    <app-simulator-setup-section></app-simulator-setup-section>
    <app-exercises-section></app-exercises-section>
    <app-remedial-training-section></app-remedial-training-section>
    <app-line-check-details-section></app-line-check-details-section>
    <app-upgrade-recomandation-section></app-upgrade-recomandation-section>
</div>
