<div class="row" style="padding-top:5px">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Select departure and arrival</div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div ngbDropdown class="d-inline-block dropdown">
                            <button class="btn btn-outline-primary" ngbDropdownToggle>From</button>
                            <div ngbDropdownMenu>
                                <button class="dropdown-item">OTP</button>
                                <button class="dropdown-item">FCO</button>
                                <button class="dropdown-item">CTA</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div ngbDropdown class="d-inline-block dropdown">
                            <button class="btn btn-outline-primary" ngbDropdownToggle>To</button>
                            <div ngbDropdownMenu>
                                <button class="dropdown-item">OTP</button>
                                <button class="dropdown-item">FCO</button>
                                <button class="dropdown-item">BRU</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
  </div>
  
  



        
       
  