<table class="table">
    <thead class="thead-light">
    <tr>
        <th style="text-align:center">SIMULATOR SET-UP Mockup</th>
    </tr>
    </thead>
</table>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th style="text-align:center">FLT No</th>
        <th style="text-align:center">From</th>
        <th style="text-align:center">To</th>
        <th style="text-align:center">SID</th>
        <th style="text-align:center">Star</th>
    </tr>
    </thead>
    <tr>
        <td style="text-align:center">
            <span >0M1123</span>
        </td>
        <td style="text-align:center">
            <span>OTP</span>
        </td>
        <td style="text-align:center">
            <span>OTP</span>

        </td>
        <td style="text-align:center">
            <span>SOKRU 1K</span>

        </td>
        <td style="text-align:center">
            <span>TOSVI 2U</span>

        </td>
    </tr>
</table>
<table class="table ">
    <thead class="thead-light">
    <tr>
        <th style="text-align:center">
            Flight Plan Routing
        </th>
    </tr>
    </thead>
    <tr >

        <td style="text-align:center">

            <span>SOKRU 1K SOKRU DCT TOSVI, TOSVI 2U</span>

        </td>
    </tr>
</table>
<table class="table ">
    <thead class="thead-light">
    <tr>
        <th style="text-align:center">ZFW</th>
        <th style="text-align:center">Fuel</th>
        <th style="text-align:center">Reserves</th>
        <th style="text-align:center">Cruise Altitude</th>
        <th style="text-align:center">C.G/Trim</th>
        <th style="text-align:center">Cost Index</th>
    </tr>
    </thead>
    <tr>
        <td style="text-align:center">
            <span>40</span>

        </td>
        <td style="text-align:center">
            <span>9K</span>
        </td>
        <td style="text-align:center">
            <span>4.5K</span>
        </td>
        <td style="text-align:center">
            <span>FL 150</span>
        </td>
        <td style="text-align:center">
            <span>18.3%</span>
        </td>
        <td style="text-align:center">
            <span>28</span>
        </td>
    </tr>
</table>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th style="text-align:center">METAR Departure Airport</th>
        <th style="text-align:center">TAF Departure Airport</th>
    </tr>
    </thead>
    <tr>
        <td style="text-align:center">
            <span>By instructor</span>
        </td>
        <td style="text-align:center">
            <span>By instructor</span>
        </td>
    </tr>
</table>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th style="text-align:center">METAR Destination Airport</th>
        <th style="text-align:center">TAF Destination Airport</th>
    </tr>
    </thead>
    <tr>
        <td style="text-align:center">
            <span>By instructor</span>
        </td>
        <td style="text-align:center">
            <span>By instructor</span>

        </td>
    </tr>
</table>

