<div class="card-body">
    <ul class="timeline">
        <li *ngFor="let flt of flights" >
            <div class="timeline-badge" *ngIf="!flt.charter"><span style="font-size: 16px;">{{flt.dep_date}}</span>
            </div>
            <div class="timeline-panel" *ngIf="!flt.charter">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{flt.from}}&nbsp;<i class="fa fa-plane"></i> &nbsp;{{flt.to}}</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i>-</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>{{flt.passengers}} passengers checked in</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted" *ngFor="let flt of flights" >
            <div class="timeline-badge warning" *ngIf="flt.charter"><span style="font-size: 16px;">12:00</span>
            </div>
            <div class="timeline-panel" *ngIf="flt.charter">
                <div class="timeline-heading">
                    <h4 class="timeline-title">CTA&nbsp;<i class="fa fa-plane"></i> &nbsp;OTP</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> Catania via Otopeni(charter)</small>
                </div>
                <div class="timeline-body">
                    <p>No passengers checked in</p>
                </div>
            </div>
        </li>
    <!--    <li>
            <div class="timeline-badge"><span style="font-size: 16px;">11:20</span>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">OTP->FCO</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> Otopeni via Roma</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>154 passengers checked in</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><span style="font-size: 16px;">12:00</span>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">CTA->OTP</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> Catania via Otopeni(charter)</small>
                </div>
                <div class="timeline-body">
                    <p>No passengers checked in</p>
                </div>
            </div>
        </li>-->

           <!-- <app-flt *ngFor="let flt of flights" [flight]="flt"></app-flt>-->


    </ul>
</div>
