<div class="card-body">

    <ul class="timeline">
        <li *ngFor="let flt of flights;let ii=$index">
            <div class="timeline-badge" ><span style="font-size: 16px;">{{flt.TakeOffTime | date:
                    'HH:mm' }}</span>
            </div>
            <div class="timeline-panel" >
                <div class="timeline-heading">

                    <h4 class="timeline-title">{{flt.From}}&nbsp;<i class="fa fa-plane"></i> &nbsp;{{flt.To}}</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i>Estimated Flight Time :{{flt.FlightTime}}</small>
                        <app-flight-view [selectedFlight]='flt' class="moveRight"></app-flight-view>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>{{flt.EstimatedPax}} passengers checked in</p>
                </div>
            </div>
        </li>
<!--        <li class="timeline-inverted" *ngFor="let flt of flights;let i=$index">-->
<!--            <div class="timeline-badge warning" *ngIf="i%4!=0"><span style="font-size: 16px;">{{flt.dep_date |-->
<!--                    date: 'HH:mm'-->
<!--                    }}</span>-->
<!--            </div>-->
<!--            <div class="timeline-panel" *ngIf="i%4!=0">-->
<!--                <div class="timeline-heading">-->
<!--                    <h4 class="timeline-title">{{flt.from}}&nbsp;<i class="fa fa-plane"></i> &nbsp;{{flt.to}}</h4>-->
<!--                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> Estimated Flight Time :{{flt.flt_time}}</small>-->
<!--                        <app-flight-view [selectedFlight]='flt'  class="moveRight"></app-flight-view>-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="timeline-body" *ngIf="flt.passengers==0">-->

<!--                    <p>No passengers checked in</p>-->
<!--                </div>-->

<!--                <p *ngIf="flt.passengers!=0">{{flt.passengers}} passengers checked in</p>-->
<!--            </div>-->
<!--        </li>-->



    </ul>
</div>
