<h2 style="margin-left:30%">OTP<ion-icon name="airplane"></ion-icon>FCO</h2>

<ion-item>
  <ion-label>Reporting Time</ion-label>
  30/05/2019 12:00
</ion-item>
<ion-item>
  <ion-label>Takeoff Time</ion-label>
  30/05/2019 13:00
</ion-item>
<ion-item>
  <ion-label>Landing Time</ion-label>
  30/05/2019 15:00
</ion-item>
<ion-item>
  <ion-label>Flight Time</ion-label>
  2h
</ion-item>
<ion-item>
  <ion-label>Plane type</ion-label>
  733
</ion-item>
<ion-item>
  <ion-label>Flight No</ion-label>
  0M113
</ion-item>
<ion-item>
  <ion-label>Gate</ion-label>
  104
</ion-item>

<app-crew-list></app-crew-list>
<app-passenger-list></app-passenger-list>
<app-journey-report></app-journey-report>


