<div class="main-container">
    <button type="button" class="btn btn-info">Add</button>
    <button type="button" class="btn btn-danger">Remove</button>
    <div class="jumbotron-fluid" *ngIf="dataLoaded">
        <jqxGrid #myGrid class="grid" [width]="'100%'" [source]="dataAdapter" [pageable]="true" [autoheight]="true"
            [columns]="columns" [rowsheight]="60" [editable]='true' [sortable]="true" [altrows]="true" [filterable]="true" [pageable]="true"
            [columnsresize]="true" [pagermode]="'simple'" [theme]="'summer'" [keyboardnavigation]="true"
            [showfilterrow]="true">
        </jqxGrid>
    </div>
</div>
