<div class="row">
         <button class="btn btn-primary" (click)="open(content)">Add assignment</button>
              <ng-template #content let-c="close" let-d="dismiss">
                  <div class="modal-header">
                      <h4 class="modal-title">Add assignment</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      {{child}}
                  <app-activity-select (messageEvent)="activitySelected($event)"></app-activity-select>
                  <app-other-asg [activity]='activity' *ngIf="activity=='OTH'"></app-other-asg>
                  <app-ground-course-asg [activity]='activity' *ngIf="activity=='GCO'"></app-ground-course-asg>
                  <app-leave-asg [activity]='activity' *ngIf="activity=='LEA'"></app-leave-asg>
                  <app-rest-asg [activity]='activity' *ngIf="activity=='RES'"></app-rest-asg>
                  <app-positioning-asg [activity]='activity' *ngIf="activity=='POG'"></app-positioning-asg>
                    <app-flight-asg [activity]='activity' *ngIf="activity=='FLT'"></app-flight-asg>
                  </div>
                  <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="saveAssignment()">Save</button>
                      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                  </div>
              </ng-template>
</div>
