<div class="main-container">
    <div class="jumbotron-fluid">
        <jqxGrid #myGrid class="grid"
                 [width]="getWidth()" [source]="dataAdapter" [showfilterrow]="true"
                 [columnsresize]="true"
                 [pageable]="true"
                 [autoheight]="true" [columns]="columns" [sortable]="true" [altrows]="true" [filterable]="true">
        </jqxGrid>
        <jqxWindow #myWindow [width]="250" [height]="230" [resizable]="false" [isModal]="false" [autoOpen]="false" [modalOpacity]="'0.01'">
            <div>Edit</div>
            <div style="overflow: hidden;">
                <table>

                    <tr>
                        <td align="right">RegNo:</td>
                        <td align="left">
                            <jqxInput #regno [width]="150" [height]="23"></jqxInput>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Owner:</td>
                        <td align="left">
                            <jqxInput #owner [width]="150" [height]="23"></jqxInput>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Seats:</td>
                        <td align="left">
                            <jqxInput #seats [width]="150" [height]="23"></jqxInput>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Tank capacity:</td>
                        <td align="left">
                            <jqxInput #tank [width]="150" [height]="23"></jqxInput>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Reserve:</td>
                        <td align="left">
                            <jqxInput #tankreserve [width]="150" [height]="23"></jqxInput>
                        </td>
                    </tr>


                    <tr>
                        <td align="right"></td>
                        <td style="padding-top: 10px;" align="right">
                            <jqxButton style="margin-right: 5px;" (onClick)="saveBtn()">
                                Save
                            </jqxButton>
                            <jqxButton style="margin-right: 5px;" (onClick)="cancelBtn()">
                                Cancel
                            </jqxButton>
                        </td>
                    </tr>
                </table>
            </div>
        </jqxWindow>

    </div>
</div>
