<p>
  schedule works!
</p>
<jqxScheduler #scheduler
              [width]="'100%'"
              [date]="date"
              [source]="dataAdapter"
              [rowsHeight]="40"
              [showLegend]="true"
              [dayNameFormat]="'abbr'"
              [resources]="resources"
              [view]="'timelineWeekView'"
              [views]="views"
              [contextMenuCreate]="contextMenuCreate"
              [contextMenuItemClick]="contextMenuItemClick"
              [contextMenuOpen]="contextMenuOpen"
              [contextMenuClose]="contextMenuClose"
              [appointmentDataFields]="appointmentDataFields">
</jqxScheduler>
