<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Flight</div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <app-date-select></app-date-select>
                        <app-time-select [activity]='activity'></app-time-select>

                    </div>
                    <div class="col">
                        <app-aircraft-select></app-aircraft-select>
                    </div>
                    <div class="col">
                        <app-destination-select></app-destination-select>
                        <app-remarks></app-remarks>
                    </div>
                    <div class="col">
                        <app-crew-select></app-crew-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
