<table class="table" style="font-size: 13px;">
    <thead class="thead-dark">
    <tr>
        <th>Nr.crt</th>
        <th>Type</th>
        <th>Date</th>
        <th>Instructor</th>
        <th>Instructor Type</th>
        <th>Sectors</th>
        <th>Passed</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let form of forms;let i=index;" [ngClass]="{passed:form.Passed,failed:!form.Passed}">
        <td>{{i+1}}</td>
        <td>{{form.FormType}}</td>
        <td>{{form.Date | date:'dd/MM/yyyy HH:mm'}}</td>
        <td>{{form.Instructor}}</td>
        <td>{{form.InstructorType}}</td>
        <td>{{form.Sectors}}</td>
        <td>{{form.Passed?'Yes':'No'}}</td>
        <td style="display: flex">
            <app-edit-form [formId]="form.ID"></app-edit-form>
            <app-delete-form [formId]="form.ID"></app-delete-form>
            <app-view-form [formId]="form.ID"></app-view-form>
        </td>
    </tr>
    </tbody>
</table>
