<table class="table" style="font-size: 13px;">
    <thead class="thead-dark">
    <tr>
        <th>Nr.crt</th>
        <th>Type</th>
        <th>Date</th>
        <th>Instructor</th>
        <th>Instructor Type</th>
        <th>Sectors</th>
        <th>Passed</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr style="background-color:#26ff41">
        <td>1</td>
        <td>Line Check Form</td>
        <td>04/05/2019 14:22</td>
        <td>Marian Surdu</td>
        <td>TRI</td>
        <td>2</td>
        <td>Yes</td>
        <td style="display: flex">
            <app-edit-form></app-edit-form>
            <app-delete-form></app-delete-form>
            <app-view-form></app-view-form>
        </td>
    </tr>
    <tr style="background-color:#ff2b0a">
        <td>2</td>
        <td>Line Check Form</td>
        <td>07/05/2019 14:22</td>
        <td>Marian Surdu</td>
        <td>TRI</td>
        <td>4/10</td>
        <td>No</td>
        <td style="display: flex">

            <app-edit-form></app-edit-form>
            <app-delete-form></app-delete-form>
            <app-view-form></app-view-form>

        </td>
    </tr>
    </tbody>
</table>
