/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~jqwidgets-scripts/jqwidgets/styles/jqx.base.css";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.hugeModal > .modal-dialog {
    max-width: 90% !important;
   width: 90% !important;
}
